.center {
  margin:  10px auto ;
    display: block;
		
}
	.center1 {
    margin: 1rem 0 0 0 ;
    display: block;
		 
}
	.center2 {
    margin: -1rem 0 0 2rem;
    display: block;
}
	.buttonmini{
                justify-content: center;
		align-items: center;
		display: inline-block;
		float:center;	
		justify-content: center;
		align-items: center;
		border: solid 2px #AC9E16;
		width: auto;
		height: auto;
		background: white;
		border-radius: 25px;
		text-align: center;
		color:#AC9E16;
		font-size: 20px;
		padding: 10px 20px 10px 20px; 
	margin: 5px 0px 20px 0px /*верх  право низ лево  */
	}
	.buttonmini:hover{
	
		justify-content: center;
		align-items: center;
		display: inline-block;
		float:center;	
		justify-content: center;
		align-items: center;
		border: solid 2px #CFBD16;;
		width: auto;
		height: auto;
		background: white;
		border-radius: 25px;
		text-align: center;
		color:#CFBD16;
		font-size: 20px;
		padding: 10px 20px 10px 20px; 
	margin: 5px 0px 20px 0px /*верх  право низ лево  */
	}
	.buttonmini2{
                justify-content: center;
		align-items: center;
		display: inline-block;
		float:center;
                line-height: 1.5;
		justify-content: center;
		align-items: center;
		border: solid 2px #AC9E16;
		width: auto;
		height: auto;
		background: white;
		border-radius: 25px;
		text-align: center;
		color:#AC9E16;
		font-size: 20px;
		padding: 10px 20px 10px 20px; 
	margin: 5px 0px 20px 0px /*верх  право низ лево  */
	}
	.buttonmini2:hover{
	
		justify-content: center;
		align-items: center;
		display: inline-block;
		float:center;	
                line-height: 1.5;
		justify-content: center;
		align-items: center;
		border: solid 2px #CFBD16;;
		width: auto;
		height: auto;
		background: white;
		border-radius: 25px;
		text-align: center;
		color:#CFBD16;
		font-size: 20px;
		padding: 10px 20px 10px 20px; 
	margin: 5px 0px 20px 0px /*верх  право низ лево  */
	}
	
	.i2{
		justify-content: center;
		align-items: center;
		float:center;	
		justify-content: center;
		align-items: center;
		border: solid 2px #AC9E16;
		width: auto;
		height: auto;
		background: white;
		border-radius: 25px;
		text-align: center;
		color:#AC9E16;
		font-size: 20px;
		padding: 20px 10px 10px 10px; 
	margin: -1px  10px 0 10px /*верх  право низ лево  */
	}
	.i2:hover{
		justify-content: center;
		align-items: center;
		float:center;	
		justify-content: center;
		align-items: center;
		border: solid 2px #CFBD16;
		width: auto;
		height: auto;
		background: white;
		border-radius: 25px;
		text-align: center;
		color:#CFBD16;
		font-size: 20px;
		padding: 20px 10px 10px 10px; 
	margin: -1px  10px 0 10px /*верх  право низ лево  */
	}
	
			.i3{
		justify-content: center;
		align-items: center;
		float:center;	
		justify-content: center;
		align-items: center;
		border: solid 2px #AC9E16;
		width: auto;
		height: auto;
		background: white;
                line-height: 1.5;
		border-radius: 25px;
		text-align: center;
		color:#AC9E16;
		font-size: 20px;
		padding: 8px 10px 10px 8px; 
	margin: 5px  8px 20px 10px /*верх  право низ лево  */
	}
		.i3:focus {
		justify-content: center;
		align-items: center;
		float:center;	
                line-height: 1.5;
		justify-content: center;
		align-items: center;
		outline: none; /*убирает линию вокруг*/
		border: solid 2px #CFBD16;
		width: auto;
		height: auto;
		background: white;
		border-radius: 25px;
		text-align: center;
		color:#CFBD16;
		font-size: 20px;
		padding: 8px 10px 10px 8px; 
	margin: 5px  8px 20px 10px /*верх  право низ лево  */
		
	}
	.i3:hover {
		justify-content: center;
		align-items: center;
		float:center;	
		justify-content: center;
		align-items: center;
		outline: none; /*убирает линию вокруг*/
		border: solid 2px #CFBD16;
		width: auto;
		height: auto;
		background: white;
		border-radius: 25px;
		text-align: center;
		color:#CFBD16;
		font-size: 20px;
		padding: 8px 10px 10px 8px; 
	margin: 5px  8px 20px 10px /*верх  право низ лево  */
	}
	.i4{
		display: flex;
		justify-content: center;
		align-items: center;
		float:center;	
		justify-content: center;
		align-items: center;
		border: solid 0px #AC9E16;
		width: auto;
		height: auto;
		background:white;
		border-radius: 25px;
                line-height: 2;
		text-align: center;
		color:#AC9E16;
		font-size: 20px;
		padding: 8px 10px 10px 8px; 
	margin: 5px  0px 10px 0px /*верх  право низ лево  */
	}
        .element2{
	border: solid 3px #AC9E16;
	text-align: center;
	
	height: auto;
	width: 17%;
	background-color: white;
	border-radius: 25px;
	font-size: 25px;
	padding: 20px;
	float: right;
	margin-top: 4%;
	margin-right: 1%;	
		
	}
	.element2:hover{
	border: solid 3px #CFBD16;
	text-align: center;
	
	height: auto;
	width: 17%;
	background-color: white;
	border-radius: 25px;
	font-size: 25px;
	padding: 20px;
	float: right;
	margin-top: 4%;
	margin-right: 1%;	
		
	}
       A { 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    display:block;
text-align:center;
color:#AC9E16;
font-size: 20px;
}
A:hover { 
       text-decoration: none; /* Убираем подчеркивание у ссылок */
    color:#CFBD16;
    display:block;
text-align:center;

}
	
.red
{
display:block;
text-align:center;
	
font-size: 40px;
color:red;
  
}
.red:hover
{
display:block;
justify-content: center;
align-items: center;
float:center;	
font-size: 40px;
color:#CFBD16;
  
}
.i2left{
float:left;	
border: solid 2px #AC9E16;
width: 98%;
height: auto;
background: white;
border-radius: 25px;
color:#AC9E16;
font-size: 20px;
padding: 20px 10px 10px 10px; 
margin: -1px  10px 0 10px /*верх  право низ лево  */
}
.i2left:hover{
float:left;	
border: solid 2px #CFBD16;
width: 98%;
height: auto;
background: white;
border-radius: 25px;
color:#AC9E16;
font-size: 20px;
padding: 20px 10px 10px 10px; 
margin: -1px  10px 0 10px /*верх  право низ лево  */
}